<section>
  <div class="form-title-section">
    <h2>Labels</h2>
    <button mat-raised-button color="primary" type="button" (click)="openLabelDialog()">
      Create Label
    </button>
  </div>
  <mat-card>
    <mat-card-content>
      <div class="label-list-header label-row">
        <span class="label-color"></span>
        <span class="label-name"><strong>Title</strong></span>
        <span class="label-date"><strong>Created At</strong></span>
        <span class="label-actions"><strong>Actions</strong></span>
      </div>
      <mat-list>
        @for (label of labels(); track label) {
        <mat-list-item>
          <div class="label-row">
            <span class="label-color" [style.background]="label.color"></span>
            <span class="label-name">{{ label.name }}</span>
            <span class="label-date">{{ label.createdAt | date : 'short' }}</span>
            <span class="label-actions">
              <button mat-button color="primary" (click)="edit(label)">Edit</button>
              <button mat-button color="warn" (click)="deleteLabel(label)">Delete</button>
            </span>
          </div>
        </mat-list-item>
        @if (label !== labels()[labels().length - 1]) {
        <mat-divider></mat-divider>
        } }
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
