.inner-kanban-column {
  max-height: calc(100vh - 185px);
}

.kanban-column-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: none;
  flex-direction: row-reverse;
  gap: 12px;
  padding: 12px;

  .kanban-column-icon {
    font-size: 24px;
    color: #00adb5;
  }

  .kanban-column-title {
    font-size: 18px;
    font-weight: 600;
  }
}

.kanban-column-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #393e46;
  padding: 8px;
  overflow-y: auto;

  .kanban-spinner-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .kanban-task {
    padding: 5px 12px;
    padding-bottom: 12px;
    gap: 8px;

    .kanban-task-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }

    .kanban-task-footer {
      .kanban-task-labels {
        display: flex;
        gap: 4px;

        .kanban-task-label {
          padding: 2px 6px;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}

.kanban-task {
  padding: 12px;
}