<div class="login-container">
  <div class="login-card">
    <h1 class="login-form-title">Hello, Welcome Back</h1>
    <p [style.text-align]="'center'">Hey, welcome back to your task management app</p>
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="login-form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          required
          autocomplete="email"
          placeholder="Enter your email"
          title="Email"
        />
        @if (form.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
        } @if (form.get('email')?.hasError('email')) {
        <mat-error>Enter a valid email</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="login-form-field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          autocomplete="current-password"
          placeholder="Enter your password"
          title="Password"
        />
        @if (form.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="login-form-button">
        Sign In
      </button>
    </form>
    <div class="login-signup-link">
      <span>Don't have an account? </span>
      <a routerLink="/register">Sign Up</a>
    </div>
  </div>
  <div class="login-banner">
    <img srcset="kanban-banner.jpg" alt="Login Banner" class="login-banner-img" />
  </div>
</div>
