<form [formGroup]="form" (ngSubmit)="submit()" class="label-form">
  <h3 mat-dialog-title>{{ isEdit ? 'Edit Label' : 'Create Label' }}</h3>
  <mat-dialog-content [style.paddingTop]="'16px'">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required placeholder="Label name" title="Label name" />
    </mat-form-field>
    @if(!isEdit) {
    <mat-checkbox [style.marginBottom]="'16px'" [checked]="randomColor" (change)="randomColor = $event.checked">
      Random color
    </mat-checkbox>
    }
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Color</mat-label>
      <input
        matInput
        formControlName="color"
        type="color"
        placeholder="Label color"
        title="Label color"
        [disabled]="randomColor"
      />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="form-actions">
    <button mat-raised-button color="primary" type="submit">
      {{ isEdit ? 'Update' : 'Create' }}
    </button>
    <button mat-button type="button" (click)="cancel()">Cancel</button>
  </mat-dialog-actions>
</form>
