<form [formGroup]="form" (ngSubmit)="submit()" class="task-form">
  <h2 mat-dialog-title>{{ title() }}</h2>
  <mat-dialog-content [style.paddingTop]="'16px'" class="task-form-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required placeholder="Task Title" />
      @if (form.get('title')?.hasError('required')) {
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" required>
        <mat-option value="Draft">Draft</mat-option>
        <mat-option value="ToDo">To Do</mat-option>
        <mat-option value="InProgress">In Progress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
      @if (form.get('status')?.hasError('required')) {
        <mat-error>Status is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea title="Task Description" matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Priority</mat-label>
      <input placeholder="Task Priority" matInput type="number" formControlName="priority" min="1">
      @if (form.get('priority')?.hasError('required')) {
        <mat-error>Priority is required</mat-error>
      }
      @if (form.get('priority')?.hasError('min')) {
        <mat-error>Priority must be at least 1</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Labels</mat-label>
      <mat-select formControlName="labelIds" multiple>
        @for (label of labels(); track label) {
          <mat-option [value]="label.id">{{ label.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{ isEditing() ? 'Update' : 'Create' }}
    </button>
  </mat-dialog-actions>
</form>