<mat-tab-group>
  <mat-tab active>
    <ng-template mat-tab-label>
      <mat-icon [style.marginRight.px]="8">view_kanban</mat-icon>
      <span>Kanban View</span>
    </ng-template>
    <ng-template matTabContent>
      <div class="kanban-board">
        @for (status of statuses; track status) {
        <div class="kanban-column">
          <app-kanban-column [status]="status"></app-kanban-column>
        </div>
        }
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon [style.marginRight.px]="8">view_list</mat-icon>
      <span>List View</span>
    </ng-template>
    <ng-template matTabContent>
      <app-tasks-list></app-tasks-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>