.sidenav-container {
  height: 100%;

  .sidenav {
    width: 250px;

    .mat-toolbar {
      background: inherit;

      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }

  .sidenav-content {
    .toolbar-toggle {
      position: sticky;
      top: 0;
      z-index: 2;
      background-color: #222831;
      border-bottom: 1px solid #393e46;
    }
  }

  .content {
    padding: 16px 24px;
    background-color: #222831;
    min-height: calc(100vh - 100px);
  }
}