.sidenav-container {
  height: 100%;

  .sidenav {
    padding: 0 12px;
    width: 280px;

    .mat-toolbar {
      background: inherit;

      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }

    mat-nav-list a[mat-list-item]:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .sidenav-content {
    .toolbar-toggle {
      background-color: #222831;
      border-bottom: 1px solid #393e46;
    }
  }

  .content {
    padding: 16px 24px;
    background-color: #222831;
    min-height: calc(100vh - 96px);
  }
}